
*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

body{
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: center;
}

.home-page{
    margin-top: 20%;

}

.home-button{
    margin-top: 20px;
    font-size: 1.5em !important;
    height: 100px;
    width: 300px;
    padding: 50px;
    box-shadow: 0px 2px 10px rgb(167, 167, 167);
	border: 1px solid 
}

.home-button:first-child{
    margin-right:40px;
}

.direction-button{
    font-size: 1.2em !important;
    height: 60px !important;
    width: 100px;
    padding: 10px;
    box-shadow: 0px 2px 10px rgb(167, 167, 167);
	border: 1px solid 
}

.second-page{
    margin-top: 10px;
    width: 90vw;
    padding: 35px;
    display:none;
    position: fixed;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 10px;
}

.footer {
	margin-left: 20px;
	left: 0;
	bottom: 0;
	width: 94%;
    height: 80px;
	color: white;
	text-align: center;
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: space-evenly;
}  

.title {
    margin: auto 0;
    font-size: 1.3em;
}

.third-page{
    margin-top: 10px;
    width: 90vw;
    height: 95vh;
    padding: 35px;
    display:none;
    position: fixed;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 10px;
}

main{
    height: 100%;
}

.left-sidebar{
    height: 80%;
    background: red;
    width: 47%;
    float: left;
}

.right-sidebar{
    height: 80%;
    background: green;
    width: 47%;
    float: right;
}

@media screen and (min-width: 1950px) and (max-width: 2001px) {
    .home-page {
        margin-top: 500px;
    }
}

@media only screen and (max-width: 800px) {
    .home-button {
        margin-page: 330px;
        height: 100px;
        width: 270px;
    }
}